# Rat Rig V-core 3 Klipper Config
# Documentation: https://os.ratrig.com

# The first thing you'll need to do is go through this file and comment out / uncomment 
# the files and/or settings you need.
# You'll be able to print just fine with this config as it is, but it is recommended
# that you follow these steps to properly calibrate your printer:
# 0) Sanity check and PID Tuning: https://www.klipper3d.org/Config_checks.html
# 1) Pressure Advance: https://www.klipper3d.org/Pressure_Advance.html
# 2) Skew Correction: https://www.klipper3d.org/Skew_Correction.html
# 3) Resonance Compensation: https://www.klipper3d.org/Resonance_Compensation.html

# Read more about klipper here: https://www.klipper3d.org/Overview.html

#############################################################################################################
### CONTROL BOARD
### Pick the board you have installed and wired in your printer.
#############################################################################################################
#[include config/boards/btt-skr-pro-12/config.cfg]
[include config/boards/btt-octopus-11/config.cfg]
#[include config/boards/btt-octopus-pro-446/config.cfg]
#[include config/boards/btt-octopus-pro-429/config.cfg]
#[include config/boards/fysetc-spider/config.cfg]


#############################################################################################################
### BASE SETUP
#############################################################################################################
[include config/printers/v-core-3/v-core-3.cfg]

#############################################################################################################
### STEPPER MOTORS, DRIVERS & SPEED LIMITS
### Pick the drivers and stepper motors you're using. See the RatOS documentation for custom combinations.
#############################################################################################################
[include config/printers/v-core-3/steppers.cfg]

# UNCOOLED TMC 2209 + LDO-42STH48-2504AC
#[include config/printers/v-core-3/speed-limits-basic.cfg]
#[include config/printers/v-core-3/tmc2209.cfg]
#[include config/steppers/ldo/42sth48-2504ac/2209/24v-1.1a-*.cfg]

# COOLED TMC 2209 + LDO-42STH48-2504AC 
# This increases motor torque, positional accuracy and speed limits. 
# don't enable this before your printer is fully configured and you have a fan blowing on your stepper drivers.
[include config/printers/v-core-3/speed-limits-performance.cfg]
[include config/printers/v-core-3/tmc2209-performance.cfg]
[include config/steppers/ldo/42sth48-2504ac/2209/24v-1.6a-*.cfg]

# STEALTH MODE (Enables stealthchop and limits velocity and acceleration)
# NOTE: You still need to include one of the above stepper motor definitions.
# NOTE: This will make your printer quiter but less accurate, it's an inherent side effect of stealthchop.
#[include config/printers/v-core-3/speed-limits-stealth.cfg]
#[include config/printers/v-core-3/tmc2209-stealth.cfg]

#############################################################################################################
### HOMING
### Pick your probe and endstops
#############################################################################################################
# BL Touch
#[include config/z-probe/bltouch.cfg]
# Inductive/Capacitive probe
[include config/z-probe/probe.cfg]

# Physical endstops
[include config/printers/v-core-3/physical-endstops.cfg]
# Sensorless homing (Beware: this requires manual tinkering and does not work if your x/y stepper drivers
# have clipped DIAG pins). It is strongly encouraged to use physical endstops if you're a beginner.
# If you still wish to proceed, copy config/templates/sensorless-homing-tmc2209.cfg to the root directory and 
# remove the # from the line below.
#[include sensorless-homing-tmc2209.cfg]


#############################################################################################################
### PHYSICAL DIMENSIONS
### Pick your printer size
#############################################################################################################
# Remove the # from your printer size below. 
# Similarly add a # in front of [include config/printers/v-core-3/300.cfg] if you have a bigger machine.
# [include config/printers/v-core-3/300.cfg]
[include config/printers/v-core-3/400.cfg]
#[include config/printers/v-core-3/500.cfg]


#############################################################################################################
### INPUT SHAPER
### Enable/disable input shaper calibration
#############################################################################################################
# Uncomment this next line if you have an ADXL345 connected to your control board
[include config/printers/v-core-3/input-shaper.cfg] 


#############################################################################################################
### TOOLHEAD
### Pick your extruder and hotend
#############################################################################################################
# Extruder
#[include config/extruders/bmg.cfg]
#[include config/extruders/lgx.cfg]
#[include config/extruders/lgx-lite.cfg]
#[include config/extruders/orbiter.cfg]
[include config/extruders/orbiter-1004.cfg] # Use this with the LDO-36STH20-1004AHG motor
#[include config/extruders/hemera.cfg]
#[include config/extruders/titan.cfg]

# Hotend
#[include config/hotends/v6.cfg]
#[include config/hotends/dragonfly.cfg]
#[include config/hotends/rapido.cfg]
#[include config/hotends/copperhead.cfg]
#[include config/hotends/mosquito.cfg]
[include config/hotends/mosquito-magnum.cfg]
#[include config/hotends/dragon-standard-flow.cfg]
#[include config/hotends/dragon-high-flow.cfg]


#############################################################################################################
### MACROS
#############################################################################################################
[include config/macros.cfg]
[include config/shell-macros.cfg]
[include config/printers/v-core-3/macros.cfg]


#############################################################################################################
### MACRO CONFIGURATION
### Configure the behavior of RatOS macros
#############################################################################################################
[gcode_macro RatOS]
# Use absolute extrusion mode
# Set to True to use relative extrusion mode
variable_relative_extrusion: False
# Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. 
# Also allows the bed heat to spread a little, and softens any plastic that might be stuck to the nozzle.
# Set to False to disable
variable_preheat_extruder: True
# Calibrate the bed mesh in the START_PRINT macro.
# Set to false to skip BED_MESH_CALIBRATE, it will still load the BED_MESH 
# with the name "ratos", be sure to save your bed_mesh profile with that name.
# or override the _START_PRINT_BED_MESH macro to implement your own mesh handling logic.
variable_calibrate_bed_mesh: True
# Print a prime line or blob at the end of the START_PRINT macro
# set to "primeline" or "primeblob", or False to disable nozzle_priming.
variable_nozzle_priming: "primeline"
# Park in the back when waiting for the extruder to heat up
# set to "front" to park in the front, or "center" to park in the center.
variable_start_print_park_in: "front"
# Height to park it when waiting for extruder to heat.
variable_start_print_park_z_height: 50
# Skew profile to load before starting the print 
# uncomment this to use your calibrated skew correction profile.
#variable_skew_profile: "my_skew_profile"
# Park in the back after the print has ended or was cancelled.
# set to "front" to park in the front, or "center" to park in the center.
variable_end_print_park_in: "back"
# Park in the back when the print is paused.
# set to "front" to park in the front, or "center" to park in the center.
variable_pause_print_park_in: "back"
# Set the speed for travel moves in RatOS Macros in mm/s.
variable_macro_travel_speed: 300


#############################################################################################################
### PRINTER CONFIGURATION
### Customize the defaults to your specific build
#############################################################################################################
[stepper_x]
dir_pin: x_dir_pin # Add ! in front of pin name to reverse X stepper direction
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
position_endstop: 0 # Adjust this to your setup

[stepper_y]
dir_pin: y_dir_pin # Add ! in front of pin name to reverse Y stepper direction
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
#position_endstop: 300  # 300mm printer
position_endstop: 400 # 400mm printer
#position_endstop: 500 # 500mm printer

[stepper_z]
dir_pin: !z0_dir_pin # Add ! in front of pin name to reverse Z stepper direction
rotation_distance: 4 # 4 for TR8*4 lead screws

[stepper_z1]
dir_pin: !z1_dir_pin # Add ! in front of pin name to reverse Z1 direction
rotation_distance: 4 # 4 for TR8*4 lead screws

[stepper_z2]
dir_pin: !z2_dir_pin # Add ! in front of pin name to reverse Z2 direction
rotation_distance: 4 # 4 for TR8*4 lead screws

# Z Probe configuration
#[bltouch]
#z_offset: 0.0 # Adjust this to fit your setup
[probe] 
x_offset: -27.8
y_offset: -12
#z_offset: 2.225 # Adjust this to fit your setup
#pin: ^PG15 # For NPN NC probes such as the Super Pinda / Vinda / SupCR / Decoprobe probes.
#pin: ^!probe_pin # NPN NO (refer to the specs on your probe)
#pin: probe_pin # PNP NO (refer to the specs on your probe)
#pin: !probe_pin # PNP NC (refer to the specs on your probe)

# Safe Z Home (Physical endstops only)
[safe_z_home]
#home_xy_position: 150,150 # 300mm printer
home_xy_position: 200,200 # 400mm printer
#home_xy_position: 250,250 # 500mm printer

[extruder]
# Check https://www.klipper3d.org/Pressure_Advance.html for pressure advance tuning.
#pressure_advance: 0.0799         #PETG / 225c / 110mm/s      / Extrudr
#pressure_advance: 0.015         #ABS / 230c / 80mm/s         / eSUN
#pressure_advance: 0.020         #ASA / 250c / 80mm/s         / Fillamenmtum
#pressure_advance: 0.083         #PLA / 205c / 80mm/s         / 3DJake
#pressure_advance: 0.082         #PLA / 210c / 200mm/s        / 3DJake
pressure_advance: 0.086         #PCCF / 280c / 30mm/s         / Prusament

nozzle_diameter: 0.4 # Remember to change this if you change nozzle diameter.
dir_pin: e_dir_pin # Remove ! in front of pin name to reverse extruder direction

control: pid
pid_kp: 35.276
pid_ki: 2.940
pid_kd: 105.830

[heater_bed]
control: pid
pid_Kp: 61.412
pid_Ki: 2.068
pid_Kd: 455.987

# ADXL345 resonance testing configuration
[resonance_tester]
probe_points:
#    150,150,20 # 300mm printer
    200,200,20 # 400mm printer
#    250,250,20 # 500mm printer

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 76.0
shaper_type_y = mzv
shaper_freq_y = 56.8


#############################################################################################################
### USER OVERRIDES
### Anything custom you want to add, or RatOS configuration you want to override, do it here.
#############################################################################################################

#####################################################################
#   Extruder E-Steps & Currents
#####################################################################
[extruder]
rotation_distance: 4.6370	         # Orbiter 2.0
max_temp: 300                        # Löschen wenn nicht mehr benötigt (Prusament PCCF)
max_extrude_only_velocity: 120
microsteps:128

[tmc2209 extruder]
run_current: 0.85
hold_current: 0.100
#interpolate: True

#####################################################################
#   BTT 12684 Display
#####################################################################

#[include additions/mini12864.cfg]

#####################################################################
#   BTT Filamentsensor
#####################################################################

#[include additions/btt_sensor.cfg]

#####################################################################
#   Firmware
#####################################################################

[firmware_retraction]
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60
retract_length: 1.20

#####################################################################
#   Enclosure Temp Sensor Section
#####################################################################

#[thermistor chamber_temp]
#temperature1: 25
#resistance1: 10000
#beta: 3950

#[temperature_sensor enclosure_temp]
#sensor_type: chamber_temp
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#gcode_id: C

#####################################################################
#   Aditional Fans
#####################################################################

[controller_fan controller_fan]
max_power: 1.00
fan_speed: 0.75
kick_start_time: 0.400
idle_timeout: 90
idle_speed: 0.25                   # slow down when idling

#####################################################################
#   Aditional Macros
#####################################################################

[gcode_macro MOTOR_STOP]
gcode:
  m84

[gcode_macro ADXL_TEST]
gcode:
  ACCELEROMETER_QUERY

#####################################################################
#    LED Control
#####################################################################

[output_pin caselight]
#  Chamber Lighting 
pin: PB11
pwm: true
shutdown_value: 0
value:1
cycle_time: 0.01


# Lighting Control

[gcode_macro lights_off]
gcode:
    SET_PIN PIN=caselight VALUE=0
 
[gcode_macro lights_on]
gcode:
    SET_PIN PIN=caselight VALUE=1
 
[gcode_macro lights_toggle]
gcode:
    {% if printer["output_pin caselight"].value == 1 %}
        lights_off
    {% else %}
        lights_on
    {% endif %}


#####################################################################
#    Presure Advance Tuner
#####################################################################

[include additions/pa_tuner.cfg]

#####################################################################
#    Skew Correction
#####################################################################

#[skew_correction]

#####################################################################
#    PAM (Variable Bed-Mesh)
#####################################################################

[include pam/pam.cfg]

#####################################################################
#    Telegram-Bot
#####################################################################

[include additions/telegram_macros.cfg]

#####################################################################
#    CAN-Modul EBB32 / U2C
#####################################################################

[include additions/ebb32canu2c.cfg]

#####################################################################
#   Save Config down here
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.770
#*#
#*# [bed_mesh ratos]
#*# version = 1
#*# points =
#*# 	0.066562, 0.121562, 0.112812, 0.121562, 0.119062, 0.073437, 0.106875
#*# 	-0.037188, -0.026250, -0.016250, -0.010313, -0.011875, -0.062813, -0.024375
#*# 	-0.083438, -0.062813, -0.056875, -0.037500, -0.042188, -0.104063, -0.068438
#*# 	-0.054063, -0.016875, -0.011563, 0.018750, 0.003750, -0.059375, -0.029375
#*# 	-0.085938, -0.063750, -0.058750, -0.019063, -0.017500, -0.073750, -0.024375
#*# 	-0.081250, -0.040938, -0.030938, -0.006250, -0.003438, -0.046875, 0.007187
#*# 	-0.069063, -0.050000, -0.042813, 0.015625, 0.021562, -0.018750, 0.046875
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 7
#*# max_y = 359.96
#*# mesh_x_pps = 2
#*# max_x = 365.0
